@import "../../global.scss";
.cover{
    background-image: url("../../asset/cover.gif") ;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    .name{
        font-size: 50px;
        font-weight: 900;
        color: darkgray;
        text-align: center;
        margin-top: calc(80vh / 2);
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }

    .infotag{
        &.active{
            filter: blur(10px);
        }
        display: flex;
        margin-top: calc(60vh / 2);
        justify-content: center;

        @include mobile{
            margin-top: 25vh;
        }


        .itemContainer{
            display: flex;
            align-items: center;
            margin-left: 30px;
            font-size: 20px;
            color: darkgray;

            .icon{
                margin-right: 5px;
                color: darkgray;
            }

            span{
                font-size: 20px;
                font-weight: 600;

                a{
                    text-decoration: none;
                    color: inherit;

                    @include mobile{
                        display: none;
                    }
                }
                >div{
                    cursor: pointer;
                    color: darkgray;

                    @include mobile{
                        display: none;
                    }
                }
            }
        }

        .itemContainer:hover,
        .itemContainer:focus{
            font-size: 22px;
            color: burlywood;
            .iconW{
                fill: burlywood;
            }
        }
    }
}