.cover{
    background-image: url("../../asset/cover.gif") ;
    background-repeat: no-repeat;
    background-position: center;

    .name{
        font-size: 50px;
        font-weight: 900;
        color: darkgray;
        text-align: center;
        margin-top: calc(80vh / 2);

        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }

    .infotag{
        display: flex;
        margin-top: calc(60vh / 2);
        justify-content: center;

        .itemContainer{
            display: flex;
            align-items: center;
            margin-left: 30px;
            font-size: 20px;
            color: darkgray;

            .icon{
                margin-right: 5px;
            }

            span{
                font-size: 20px;
                font-weight: 600;

                a{
                    text-decoration: none;
                    color: inherit;
                }
                >div{
                    cursor: pointer;
                }
            }
        }
    }

    &.active{
        opacity: 0.4;
    }
}