@import "../../global.scss";
.experience{
    background-color: rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .introBox{
        position: absolute;
        top: 15vh;
        width: 100vw;
        height: 50vh;
        background-color: transparent;
        opacity: 0;
        z-index: 0;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;

        .introContainer{
            height: 45vh;
            width: 50vw;
            background-color: $mainColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 2px solid $mainColor;
            border-radius: 30px;

            .intro{
                margin-top: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 90%;
                background-color: rgb(230, 230, 230);
                border-radius: 10px;
                border: 2px solid $mainColor;
                font-size: 16px;
                padding-left: 10px;
                
            }

            button{
                font-size: 25px;
                border-radius: 30px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }


        &.active{
            opacity: 1;
            z-index: 3;
            transform: rotateY(360deg);
        }
    }
    h1{
        margin-top: 5vh;
        font-size: 60px;
        color: $mainColor;
    }
    .container{
        margin-top: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .item{
            width: 30vh;
            height: 35vh;
            color: tan;
            border-radius: 10%;
            border: 2px solid rgb(182, 182, 182);
            background-color: $mainColor;
            box-shadow: 15px 10px 10px black;
            margin-left: 2vh;
            transition: all 0.5s ease-in;
            position: relative;

            .time{
                width: 30vh;
                height: 10vh;
                top: 15vh;
                font-weight: 1000;
                font-style: italic;
                color: $mainColor;
                font-size: 25px;
                text-align: center;
                position: absolute;
                z-index: -1;
            }
            .image{
                margin-top: 2vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h3{
                color: $textColor;
                font-size: 20px;
                margin-top: 1.5vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h2{
                color: tan;
                font-size: 15px;
                margin-top: 1.5vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover{
                background-color: lightslategray;
                cursor: pointer;
                .time{
                    z-index: 1;
                }
                .image{
                    opacity: 0.1;
                    z-index: 0;
                }
                h3{
                    opacity: 0.1;
                }
                h2{
                    opacity: 0.1;
                }
            }
        }
    }
    &.blur{
        .item{
            filter: blur(10px);
            opacity: 0.2;
        }
        h1{
            filter: blur(10px);
        }
    }
}
